@tailwind base;
@tailwind components;
@tailwind utilities;

div.container {
  @apply mx-auto px-5;
}

main {
  padding-top: 64px;
}

h1 {
  @apply text-3xl py-3 border-b border-gray-400;
}

label {
  @apply font-bold;
}

.alert-success {
  @apply flex items-center bg-green-500 text-white text-sm font-bold px-4 py-3;
}

.alert-danger {
  @apply flex items-center bg-red-500 text-white text-sm font-bold px-4 py-3;
}

footer {
  @apply bg-gray-300 mt-5;

  p {
    @apply p-2 text-center text-base;
  }
}

ul.list-group {
  li {
    @apply relative -mb-px block pl-4 py-3 border border-gray-400 w-full;

    &:first-child {
      @apply rounded-t-xl;
    }

    &:last-child {
      @apply rounded-b-xl;
    }
  }
}

.markdown {
  ol {
    @apply list-decimal pl-10;
  }

  ul {
    @apply list-disc pl-5;
  }

  h2 {
    @apply my-3 pl-3 border-red-500 border-l-4 text-xl font-bold;
  }

  h4 {
    @apply my-3 pb-2 text-lg border-b border-black border-dotted font-bold;
  }

  pre {
    @apply my-2 p-2 border border-black rounded overflow-x-auto text-sm;
    background-color: #f8f9fa;
  }

  table {
    @apply table-auto;
    th {
      @apply p-2 border border-gray-600 bg-blue-100 text-center;
    }
    td {
      @apply p-2 border border-gray-600;
    }
  }
}

ul.levels {
  @apply flex mt-2;
  li {
    @apply mr-3 text-blue-700;
    &:last-child {
      @apply font-bold;
    }
    a {
      @apply border-b border-blue-700;
    }
  }
}

#copy-board {
  display: none;
}

div.fab-buttons {
  position: fixed;
  right: 23px;
  bottom: 23px;
}

div.fixed-action-btn {
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 999;
  .btn-floating {
    display: inline-block;
    width: 56px;
    height: 56px;
    vertical-align: middle;
    color: white;
    padding-top: 15px;
    border-radius: 50%;
    text-align: center;
    &:hover {
      color: white;
    }
  }
}
